.table-2 {
    border-collapse: collapse;
    margin-top: 50px;
}
.table-2, .table-2 td, .table-2 th {
    width: 700px;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table-1 {
    margin-top: 50px;
}
.table-1, .table-1 td, .table-1 th {
    border:2px solid #ddd;
    width: 500px;
}